body {
    font-family: var(--font-sans-serif);
    font-size: var(--text-md);
    line-height: 1.6;
    background-color: var(--gray-white);
  }
   
  h1, h2 {
    font-family: var(--font-mono);
  }
   
  h1 {
    font-size: var(--text-xxl);
  }
   
  h2 {
    font-size: var(--text-xl);
  }
  
  button {
    border: none;
  }