body {
    font-family: 'Mulish';
    font-size: var();
    line-height: 1.6;
    background-color: var(--gray-white);
  }


   
  h1, h2 {
    font-family: 'Mulish';
  }
   
  h1 {
    font-family:'Staatliches';
    text-align: center;
    
  }
   
  h2 {
    font-family: 'Mulish';
  }

h3 {
  font-family: 'Mulish';
}

.sub_titles {
  font-family: 'Stix Two Text',serif;
  text-align: center;
font-size: medium;
padding-bottom: 30;

}

.second_titles {
  text-align: center;
  font-family: 'Mulish';
  size: 16px;
}



  p {
    font-family: 'Mulish';
    text-align: left;
    padding: 20;
  }
  
  button {
    border: none;
  }

.header__start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.header__end{
  display: flex;
  flex-direction: row;

}

.mainone__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.index_title {
    font-family: 'Mulish';
    display: flex;
    flex-direction: row;
    justify-content: center;
  }