:root{
/* Color styles */

/* Text-size styles */
--title:22px;
--under-title: 14px;
--text:15px;
--inter-title:15px;
--frise:16px;
--menu-text:20px;
--text-footer:12px;

/* Typography */
--Mulish: 'Mulish', sans-serif;
--Outfit: 'Outfit', sans-serif;
--Statliches: 'Staatliches', cursive;
--Stix-Two-Text: 'STIX Two Text', serif;

/* Font-weight */

/* Text styles */

/* Effect styles */

}