:root{
/* Color styles */

--noir: rgba(15,15,15,1);
--orange:rgba(245,100,22,1);
--blanc:rgba(246,248,255,1);

/* Text-size styles */
--title:22px;
--under-title: 14px;
--text:15px;
--inter-title:15px;
--frise:16px;
--menu-text:20px;
--text-footer:12px;

/* Typography */
--Mulish: 'Mulish', sans-serif;
--Outfit: 'Outfit', sans-serif;
--Statliches: 'Staatliches', cursive;
--Stix-Two-Text: 'STIX Two Text', serif;

/* Font-weight */

--regular:400;
--bold:700;
--light:300;
--light-italic:300;

/* Text styles */



/* Effect styles */

}