.header {
    position: sticky;
    background-color: #000;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    right: 3;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__end {
    display: flex;
    gap: var(--space2x);
  }
  
  .header__logo {
    display: block;
  }
.header__search {
    margin: none;
    border: none;
    background-color: transparent;
}

.header__menu-btn {
    width: 40px;
    margin: none;
    border: none;
    background-color: transparent;
}