header {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
}

.header__end {
    display: flex;
    gap: var(--space2x);
  }
  
  .header__search {
    width: 40px;
  }
  
  .header__logo {
    display: block;
  }