.mainone__card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: px;
    }

.mainone__card_e, .mainone__card_r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
