*{
    margin:0;
    padding: 0;
}
.text_form {
    font-family: 'Mulish';
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.form__contact {
    border-radius: 10%;
    background-color: var(--bleu);
    margin: 20px;
    border-radius: 3%;
    position: relative;
    font-family: 'Noto Sans';
    font-size: small;
    margin: 10px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(228, 228, 228, 0.327);
    font-family: 'Mulish';
    text-align: center;

}

