.header__nav{
    background-color: black;
    position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        display: grid;
        place-content: center;
}

.header__menu-btn {

        position: relative;
        z-index: 10;
}

.noscroll,
 .noscroll body {
    overflow: hidden;
      }

.menu_item {
    text-decoration: none;
    font-style: --Mulish;
    font-size: 30;
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    
}


